@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 20px;
}

.input {
    padding: 6px;
    width: 100px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 0 10px
}

.result {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.button {
    margin: 10px 120px 0 0;
    padding: 6px;
    width: 100px;
    background: #007BFF;
    box-shadow: 0px 18px 40px rgba(0, 123, 255, 0.25);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}

.solution {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #fff;
    max-width: 250px;
    min-width: 249px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}